<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
      </head>
      <body>
        更新ページ

        <form action="/update" method="post">
          更新内容<input type="text" name="update" id="" />
          <input type="hidden" name="id" id=""value="<%=id%>">
          

          <button>更新</button>
        </form>
      </body>
    </html>
  </body>
</html>
