<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>ログイン画面</h1>
   
    <form action="/user/login" method="post">
     <div>名前<input type="text" name="name" id="" /></div>
      <div>パスワード<input type="password" name="password" id="" /></div>
      <div><input type="submit" name="" id="" /></div>
    </form>
    
    <div><a href="/user/regi">
      登録がお済でない場合はこちら</a></div>
  </body>
</html>
