<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>登録画面</h1>
    <form action="/user/register" method="post">
      <div>名前<input type="text" name="regiName"  /></div> 
      <div>パスワード<input type="password" name="regipassword" id="" /></div>
      <div><button>投稿</button></div>
    </form>
  </body>
</html>
